.Rproj.user/
.Rhistory
.RData
.Ruserdata

.Rbuildignore
# *.Rproj

*.tar.gz
*.zip

man/*.html
Meta/
src/

# renv
renv/library/
renv/staging/
renv.lock

inst/doc/
vignettes/*.html
vignettes/*.pdf

/.quarto/
/.DS_Store
Thumbs.db
inst/doc
